<!DOCTYPE html>
<html>
@*<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <title>Project Rattlesnake - My ASP.NET Application</title>

    @if(ViewBag.website == "Index")
    {
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/jquery")
    }
    @if(ViewBag.website == "Dashboard")
    {
        @Styles.Render("~/Content/Dashboard/css")
        @Scripts.Render("~/bundles/Dashboard/jquery")
    }
</head>
<body>*@
    @RenderBody()
    @RenderSection("scripts", required: false)
@*</body>*@
</html>
